<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">
      
    <http auto-config="false" use-expressions="true">
    	<intercept-url pattern="/autentificacion/decisor" access="isAuthenticated()" />
        <intercept-url pattern="/" access="permitAll" />        
        <intercept-url pattern="/admin" access="hasRole('ADMIN')" />
        <intercept-url pattern="/user" access="hasAnyRole('ADMIN','USER')" />            
        <intercept-url pattern="/js/user/*" access="hasAnyRole('ADMIN','USER')" />        
        <intercept-url pattern="/serviceUser/*" access="hasAnyRole('ADMIN','USER')" />               
        <form-login  login-page="/login" username-parameter="user" password-parameter="password" 
        	authentication-failure-url="/login?error" 
        	default-target-url="/autentificacion/decisor"/>
        <logout invalidate-session="true" logout-success-url="/login?status=logout" delete-cookies="JSESSIONID" />	
        <csrf/>
    </http>
  
    <authentication-manager >
        <authentication-provider>
            <user-service>
                <user name="user1"  password="abc123"  authorities="ROLE_USER" />
                <user name="SSAAVEDRAV"  password="1"  authorities="ROLE_USER" />
                <user name="JPAEZC"  password="1"  authorities="ROLE_USER" />
                <user name="LVERAP"  password="1"  authorities="ROLE_USER" />
                <user name="admin" password="admin123" authorities="ROLE_ADMIN" />
                <user name="LRICARDOR"   password="admin123" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>      
     
</beans:beans>