<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">
      
    <bean id="authenticationFailureHandler"
		class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.security.authentication.BadCredentialsException">/login/badCredentials</prop>
				<prop key="org.springframework.security.authentication.CredentialsExpiredException">/login/credentialsExpired</prop>
				<prop key="org.springframework.security.authentication.LockedException">/login/accountLocked</prop>
				<prop key="org.springframework.security.authentication.DisabledException">/login/accountDisabled</prop>
			</props>
		</property>
	</bean>  
      
    <sec:http auto-config="false" use-expressions="true">
    	<sec:intercept-url pattern="/login" access="isAnonymous()" />
    	<sec:intercept-url pattern="/autentificacion/decisor" access="isAuthenticated()" />
        <sec:intercept-url pattern="/" access="permitAll" />        
        <sec:intercept-url pattern="/j_spring_security_logout" access="permitAll" />                     
        <sec:intercept-url pattern="/admin" access="hasRole('ADMIN')" />
        <sec:intercept-url pattern="/user" access="hasAnyRole('ADMIN','USER')" />                             
        <sec:intercept-url pattern="/serviceUser/*" access="hasAnyRole('ADMIN','USER')" />               
      	
      	<sec:session-management 	  
      		invalid-session-url="/login"    		
			session-fixation-protection="none">			
            <sec:concurrency-control 
            	max-sessions="1"             	
            	error-if-maximum-exceeded="true"
            	/>
        </sec:session-management>
      	<sec:form-login  login-page="/login" username-parameter="user" password-parameter="password"            	
        	authentication-failure-url="/login?denied"
        	default-target-url="/autentificacion/decisor"
        	authentication-failure-handler-ref="authenticationFailureHandler" 
        	authentication-success-handler-ref="securityLoginSuccessHandler"/> 
        <!-- login-processing-url="/j_spring_security_check"           	
        	expired-url="/login?expired"        	
        	session-authentication-error-url="/login/accountLocked"		-->         
        <sec:logout invalidate-session="true"
        	logout-success-url="/login?status=logout" 
        	logout-url="/j_spring_security_logout"
        	delete-cookies="JSESSIONID" 
        	 />	      		 	
        
        <sec:csrf />
		<sec:headers>
			<sec:cache-control />
			<sec:xss-protection enabled="true" />
		</sec:headers>		
    </sec:http>
    
    <sec:authentication-manager >
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="user1"  password="abc123"  authorities="ROLE_USER" />
                <sec:user name="SSAAVEDRAV"  password="1"  authorities="ROLE_USER" />
                <sec:user name="JPAEZC"  password="1"  authorities="ROLE_USER" />
                <sec:user name="LVERAP"  password="1"  authorities="ROLE_USER" />
                <sec:user name="admin" password="admin123" authorities="ROLE_ADMIN" />
                <sec:user name="LRICARDOR"   password="admin123" authorities="ROLE_USER" />
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>      
     
</beans>